<!-- Integracion del menu (sidebar) -->
<div class="section__sidebar">
	<nav class="section__hide-menu" id="menu">
		<div class="section__nav">
			<img class="section__image-slider" src="../img/menu-profile.png" loading="lazy">
			<h2 class="section__title" loading="lazy">Perfil</h2>
		</div>
		<div class="section__nav">
			<img class="section__image-slider" src="../img/menu-dashboard.png" loading="lazy">
			<h2 class="section__title" loading="lazy">Dashboard</h2>
		</div>
		<div class="section__nav">
			<img class="section__image-slider" src="../img/menu-user.png" loading="lazy">
			<h2 class="section__title" loading="lazy">Gestión de Usuarios</h2>
		</div>
		<div class="section__nav">
			<img class="section__image-slider" src="../img/menu-crop.png" loading="lazy">
			<h2 class="section__title" loading="lazy">Gestión de Cultivos</h2>
		</div>
		<div class="section__nav">
			<img class="section__image-slider" src="../img/menu-cicle.png" loading="lazy">
			<h2 class="section__title" loading="lazy">Gestión de Ciclos</h2>
		</div>
		<div class="section__nav">
			<img class="section__image-slider" src="../img/menu-supplies.png" loading="lazy">
			<h2 class="section__title" loading="lazy">Gestión de Insumos</h2>
		</div>
		<div class="section__nav">
			<img class="section__image-slider" src="../img/menu-sensor.png" loading="lazy">
			<h2 class="section__title" loading="lazy">Gestión de Sensores</h2>
		</div>
		<div class="section__nav">
			<img class="section__image-slider" src="../img/menu-production.png" loading="lazy">
			<h2 class="section__title" loading="lazy">Gestión de Producciones</h2>
		</div>
		<div class="section__nav">
			<img class="section__image-slider" src="../img/menu-tools.png" loading="lazy">
			<h2 class="section__title" loading="lazy">Ajustes</h2>
		</div>
		<div class="section__nav">
			<img class="section__image-slider" src="../img/menu-home.png" loading="lazy">
			<h2 class="section__title" loading="lazy">Cerrar sesión</h2>
		</div>
	</nav>
</div>