<nav class="menu menu--js">
    <ul class="menu__list">
        <li class="menu__item">
            <a href="../pages/insumos.html" class="menu__link">Gestión de Insumos</a>
        </li>
        <li class="menu__item">
            <a href="../pages/usuarios.html" class="menu__link">Gestión de Usuarios</a>
        </li>
        <li class="menu__item">
            <a href="../pages/sensores.html" class="menu__link">Gestión de Sensores</a>
        </li>
        <li class="menu__item">
            <a href="../pages/cultivos.html" class="menu__link">Gestión de Cultivos</a>
        </li>
        <li class="menu__item">
            <a href="../pages/ciclos.html" class="menu__link">Ciclos de Cultivo</a>
        </li>
    </ul>
</nav>